@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 16px;
  --spacing-s: 0.25em;
  --spacing-m: 0.5em;
  --spacing-l: 0.75em;
  --spacing-xl: 1em;
  --spacing-xxl: 2em;
  --color-red: #FF0044;
  --color-orange: #FF6600;
  --color-yellow: #ffdd00;
  --color-green: #00FF77;
  --color-blue: #004CFF;
  --color-purple: #dd00FF;
  --color-accent: var(--color-blue);
  --color-positive: var(--color-green);
  --color-negative: var(--color-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: hsl(from var(--color-accent) h calc(s / 4) 2.5%);
    --bg-secondary: hsl(from var(--color-accent) h calc(s / 4) 7.5%);
    --bg-tertiary: hsl(from var(--color-accent) h calc(s / 4) 12.5%);
    --fg-primary: #ffffff;
    --fg-secondary: hsl(from var(--color-accent) h calc(s / 8) 60%);
    --fg-tertiary: hsl(from var(--color-accent) h calc(s / 8) 45%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: hsl(from var(--color-accent) h calc(s / 4) 95%);
    --bg-secondary: hsl(from var(--color-accent) h calc(s / 4) 90%);
    --bg-tertiary: hsl(from var(--color-accent) h calc(s / 4) 85%);
    --fg-primary: hsl(from var(--color-accent) h calc(s / 4) 10%);
    --fg-secondary: hsl(from var(--color-accent) h calc(s / 4) 15%);
    --fg-tertiary: hsl(from var(--color-accent) h calc(s / 4) 25%);
    --color-red: #dd0033;
    --color-orange: #cc4400;
    --color-yellow: #ccaa00;
    --color-green: #00cc44;
    --color-blue: #0033dd;
    --color-purple: #bb00dd;
  }
}

@media (max-width: 900px) {
  .split:has(.sidebar) {
    flex-direction: column !important;
  }
}

@media (max-width: 700px) {
  :root {
    --radius: 24px;
  }

  .brand-name {
    display: none;
  }

  .mobile-icon {
    display: inline !important;
  }

  .desktop-label {
    display: none !important;
  }

  .content {
    padding: var(--spacing-s) !important;
  }

  .nav-item:has(svg) {
    height: 2em;
    padding: var(--spacing-m) !important;
  }

  .nav-item > svg {
    vertical-align: top;
  }

  .nav-section .balance {
    display: none;
  }

  .readable {
    margin: 0 auto;
    padding: 1em;
    max-width: 80ch;
  }

}

@media (min-width: 700px) {
  .mobile-icon {
    display: none !important;
  }

  .desktop-label {
    display: inline !important;
  }
}

body {
  color: var(--fg-primary);
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--fg-primary);
  font-weight: bold;
  user-select: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  color: var(--color-accent);
}

h3 {
  font-size: 1.25em;
  color: hsl(from var(--color-accent) h s calc(l * 0.75));
}

ol {
  list-style-type: decimal;
  margin-left: var(--spacing-xl);
}

ul {
  list-style-type: disc;
  margin-left: var(--spacing-xl);
}

hr {
  border-color: var(--bg-tertiary);
}

.lucide {
  display: inline;
  vertical-align: middle;
}

button {
  display: inline-flex;
  gap: var(--spacing-m);
  justify-content: center;
  align-items: center;
  background: hsl(from var(--bg-tertiary) h s l / 50%);
  border-radius: var(--radius);
  padding: var(--spacing-l) var(--spacing-xl);
}

button:hover {
  background: hsl(from var(--bg-tertiary) h s l) !important;
}

.link-button {
  display: inline-flex;
  gap: var(--spacing-m);
  align-items: center;
  justify-content: center;
  background: var(--bg-tertiary);
  border-radius: var(--radius);
  padding: var(--spacing-m) var(--spacing-xl);
}

.highlight {
  background: var(--color-accent);
  color: var(--bg-primary);
}

.highlight .lucide {
  stroke: var(--bg-primary) !important;
}

.link-button .lucide, button .lucide {
  height: 1em;
  vertical-align: top;
  stroke: var(--fg-primary);
}

.nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.brand {
  font-size: 1.5em;
  padding: 0 var(--spacing-s);
  display: inline-flex;
  align-items: center;
}

.brand-name {
  font-weight: bold;
  margin-inline-end: var(--spacing-xl);
  white-space: nowrap;
}

.logo {
  height: 1.5em;
  color: var(--color-accent);
  margin-inline-end: var(--spacing-m);
  background: hsl(from var(--color-accent) h s l / 25%);
  border-radius: var(--radius);
}

.user-card {
  line-height: 1.2;
  padding-right: var(--spacing-xl) !important;
  white-space: nowrap;
}

.user-icon {
  width: 2em;
  height: 2em;
  stroke: var(--color-accent);
  background: hsl(from var(--color-accent) h s l / 25%);
  border-radius: calc(var(--radius) - var(--spacing-m));
  padding: var(--spacing-m);
}

.user-info {
  display: inline-block;
  margin-inline-start: var(--spacing-m);
  vertical-align: middle;
}

.user-manage .lucide {
  vertical-align: top;
  margin-inline-end: var(--spacing-s);
}

.user-manage {
  color: var(--fg-secondary);
  font-size: 0.75em;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 0;
  overflow-x: auto;
}

.nav-section {
  display: flex;
  align-items: stretch;
}

.nav-section > * {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  padding: var(--spacing-m);
  user-select: none;
}

.nav-section > *:hover {
  background: var(--bg-tertiary);
}

.nav-item {
  padding: var(--spacing-s) var(--spacing-xl);
  line-height: 1.2;
}

.selector {
  border-radius: calc(var(--radius) - var(--spacing-m));
}

.selector {
  background: hsl(from var(--color-accent) h s l / 25%);
  color: var(--color-accent);
}

.balance {
  font-weight: bold;
  color: var(--color-accent);
}

.balance .nav-item {
  padding: var(--spacing-s);
}

.split {
  max-width: calc(100vw - var(--spacing-xl) - var(--spacing-xl));
  height: calc(100dvh - var(--spacing-xl) - var(--spacing-xl));
  display: flex;
  gap: var(--spacing-xl);
  margin: var(--spacing-xl);
  flex-direction: row;
}

.dashboard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-xl);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  overflow-y: auto;
  border-radius: var(--radius);
}

.sidebar-header {
  font-size: 1.25em;
  font-weight: bold;
  padding: var(--spacing-m);
  justify-content: space-between !important;
  user-select: none;
}

.sidebar-split {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sidebar > .card {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-l);
  padding: var(--spacing-s) var(--spacing-xl);
  flex-grow: 0;
  overflow: visible;
  align-items: center;
}

.sidebar > .card :not(.input-label:first-of-type).input-label {
  border-left: 1px solid var(--bg-tertiary);
}

#total::before {
  content: '$';
}

.input-label {
  /*padding: var(--spacing-s);*/
  vertical-align: middle;
}

input {
  width: unset;
  min-width: 1em;
  background: none;
  padding: var(--spacing-m) 0;
  flex-grow: 1;
  outline: none;
  border-radius: 0;
  /*-webkit-appearance: textfield;*/
  /*-moz-appearance: textfield !important;*/
}

input:focus {
  outline: none;
}

.date-picker-month {
  display: block;
  text-align: center;
  padding: var(--spacing-m);
  font-weight: bold;
  user-select: none;
}

.date-picker-day {
  display: inline-block;
  width: 14.285714%;
  text-align: center;
  border-radius: var(--radius);
  padding: var(--spacing-s);
  user-select: none;
}

.date-picker-day:not(.highlight):hover {
  background: var(--bg-tertiary);
}

select {
  background: none;
  padding: var(--spacing-m) var(--spacing-l);
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.card {
  background: var(--bg-secondary);
  border-radius: var(--radius);
  overflow: auto;
  flex-grow: 1;
}

.hero {
  background: radial-gradient(circle at 50% 50%, hsl(from var(--color-accent) h s l / 50%) 0%, transparent 80%),
              radial-gradient(circle at 80% 80%, hsl(from var(--color-accent) calc(h + 40) s l / 30%) 0%, transparent 50%),
              radial-gradient(circle at 20% 20%, hsl(from var(--color-accent) calc(h - 40) s l / 30%) 0%, transparent 50%);
  border-radius: var(--radius);
  padding: 20vh 0;
  overflow-y: auto;
  flex-grow: 1;
}

.content {
  margin: var(--spacing-s) var(--spacing-xl);
  padding: var(--spacing-xl);
  width: calc(100% - var(--spacing-xl) - var(--spacing-xl));
}

.readable {
  margin: 0 auto;
  padding: var(--spacing-xxl);
  max-width: 75ch;
}

.transactions-table-header {
  color: var(--fg-secondary);
  font-weight: 100;
  position: sticky;
  background: var(--bg-secondary);
  border-bottom: 1px solid var(--bg-tertiary);
  top: 0;
}

.transactions-table-header th {
  padding: var(--spacing-m) var(--spacing-m) var(--spacing-s) var(--radius);
  text-align: left;
}

.transactions-table {
  width: 100%;
}

.transaction td {
  padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) var(--radius);
  white-space: nowrap;
}

.transaction[datatype='income'] {
  color: var(--color-positive);
  background: hsl(from currentColor h s l / 5%);
}

.transaction[datatype='expense'] {
  color: var(--color-negative);
  background: hsl(from currentColor h s l / 5%);
}

.transaction-date {
  color: var(--fg-secondary);
}

.transaction-amount {
  font-weight: 900;
}

.transaction-name {
  color: var(--fg-secondary);
}

.transaction:hover .transaction-actions {
  opacity: 1;
}

.transaction-actions {
  opacity: 0;
  text-align: right;
  gap: var(--spacing-m);
  transition: opacity 100ms ease-in-out;
}

.transaction-actions :not(:first-child) {
  margin-inline-start: var(--spacing-m);
}

.transaction-action {
  display: inline-flex;
  color: var(--fg-tertiary);
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: calc(var(--radius) - var(--spacing-m));
  line-height: 1;
}

.inline-selection > button.active {
  background: var(--color-accent);
  color: var(--bg-secondary);
}

.inline-selection > button {
  background: transparent;
  border-radius: calc(var(--radius) - var(--spacing-m));
  padding: var(--spacing-s) var(--spacing-xl);
}

.inline-selection {
  background: var(--bg-tertiary);
  border-radius: var(--radius);
  display: inline-flex;
  padding: var(--spacing-m);
  gap: var(--spacing-m);
}

.chart {
  padding: var(--spacing-xl);
  max-width: calc(100% - var(--spacing-xl) - var(--spacing-xl));
}

.chart-intervals {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  border-top: 2px solid var(--fg-tertiary);
}

.chart-data {
  padding: var(--spacing-xl) 0;
  cursor: crosshair;
  /*border-bottom: 1px solid var(--fg-tertiary);*/
  overflow-x: auto;
  overflow-y: hidden;
  mask: linear-gradient(90deg, #0000 0, #000 40px, #000 calc(100% - 40px), #0000 100%);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chart-data::-webkit-scrollbar {
  display: none;
}

.chart-interval {
  color: var(--fg-secondary);
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.income {
  color: var(--color-positive);
  font-weight: bold;
}

.expense {
  color: var(--color-negative);
  font-weight: bold;
}

.inspection {
  background: var(--bg-secondary);
  border-radius: calc(var(--radius) - var(--spacing-m));
  border: 1px solid hsl(from var(--fg-tertiary) h s l / 25%);
  padding: var(--spacing-s) var(--spacing-m);
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.inspection-item {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-l);
  padding: var(--spacing-s);
}

.inspection-item:not(:last-child) {
  border-bottom: 1px solid var(--bg-tertiary) !important;
}

.date {
  color: var(--fg-secondary);
  font-style: italic;
  font-size: 1.2em;
  align-self: center;
}

.stats-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: var(--spacing-xl);
  padding: var(--spacing-xl);
  gap: var(--spacing-xl);
  flex-wrap: wrap;
}

.stats-info {
  background: var(--bg-tertiary);
  border-radius: var(--radius);
  padding: var(--spacing-xl) var(--spacing-xxl);
}

.sizer-x, .sizer-y {
  position: absolute;
  background-color: var(--bg-primary);
}

.sizer-x .lucide, .sizer-y .lucide {
  width: var(--spacing-xl);
  height: var(--spacing-xl);
  position: relative;
  color: var(--fg-tertiary);
}

.sizer-x:hover .lucide .sizer-y:hover .lucide {
  color: var(--fg-primary);
}

.sizer-x.active .lucide, .sizer-y.active .lucide {
  color: var(--color-accent);
}

.sizer-x {
  height: calc(100vh - var(--spacing-xl) - var(--spacing-xl));
  width: var(--spacing-xl);
  cursor: ew-resize;
}

.sizer-x .lucide {
  top: calc(50% - calc(var(--spacing-xl) / 2));
  left: 0;
}

.sizer-y {
  height: var(--spacing-xl);
  width: calc(100vw - var(--spacing-xl) - var(--spacing-xl));
  cursor: ns-resize;
}

.sizer-y .lucide {
  left: calc(50% - calc(var(--spacing-xl) / 2));
  top: -0.3em;
}
